name: Terraform Deploy

on:
  push:
    branches:
      - main

env:
  PROJECT_ID: norse-carport-484915-f2
  REGION: us-central1
  SERVICE_NAME: resume-JD-match-app
  ARTIFACT_REPO: resume-JD-match-repo
  SERVICE_ACCOUNT: ci-cd-bot@norse-carport-484915-f2.iam.gserviceaccount.com

jobs:
  terraform:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: google-github-actions/auth@v2
        with:
          credentials_json: '${{ secrets.GCP_SA_KEY }}'

      - uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        working-directory: terraform
        run: terraform init

      - name: Terraform Apply
        working-directory: terraform
        run: |
          terraform apply -auto-approve \
            -var="project_id=$PROJECT_ID" \
            -var="region=$REGION" \
            -var="service_name=$SERVICE_NAME" \
            -var="artifact_repo_name=$ARTIFACT_REPO" \
            -var="service_account_email=$SERVICE_ACCOUNT" \
            -var="image=us-central1-docker.pkg.dev/$PROJECT_ID/$ARTIFACT_REPO/resume-app:latest"
